<div class="wrap">
  <div class="sec-head">
    <h2 class="sec-head__title">{{ c().experience.title }}</h2>
    <a class="btn" [routerLink]="language.current().path" fragment="contact">
      {{ c().experience.cta }}
    </a>
  </div>

  <ol class="timeline">
    @for (job of c().experience.jobs; track $index) {
      <li class="job">
        <div class="job__when">{{ job.when }}</div>
        <div>
          <h3 class="job__title">{{ job.title }}</h3>
          <p class="job__where">{{ job.where }}</p>
          @if (job.points.length) {
            <ul class="bullets">
              @for (point of job.points; track $index) {
                <li>{{ point }}</li>
              }
            </ul>
          }
        </div>
      </li>
    }
  </ol>
</div>
